h1{
    background-color: #8b6094;
    color: white;
    font-weight: 600;
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }